Flow1.json
[
    {
        "id": "438c5c7a.71e434",
        "type": "tab",
        "label": "LED control",
        "disabled": false,
        "info": "Push the button and see the result"
    },
    {
        "id": "3fc5beb3.1511c2",
        "type": "rpi-gpio in",
        "z": "438c5c7a.71e434",
        "name": "Button",
        "pin": "7",
        "intype": "up",
        "debounce": "25",
        "read": false,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "32b1cdc6.516992",
                "399ffbaf.da7da4"
            ]
        ]
    },
    {
        "id": "399ffbaf.da7da4",
        "type": "debug",
        "z": "438c5c7a.71e434",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "e9ec53df.823f7",
        "type": "rpi-gpio out",
        "z": "438c5c7a.71e434",
        "name": "LED",
        "pin": "11",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "32b1cdc6.516992",
        "type": "switch",
        "z": "438c5c7a.71e434",
        "name": "if input is 1",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "e76f3c78.7e304"
            ],
            [
                "241b034c.e6376c"
            ]
        ]
    },
    {
        "id": "e76f3c78.7e304",
        "type": "change",
        "z": "438c5c7a.71e434",
        "name": "Change to 0",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "e9ec53df.823f7"
            ]
        ]
    },
    {
        "id": "241b034c.e6376c",
        "type": "change",
        "z": "438c5c7a.71e434",
        "name": "Change to 1",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 220,
        "wires": [
            [
                "e9ec53df.823f7"
            ]
        ]
    }
]