Flow3.json
[
    {
        "id": "dc37123c.1c50f",
        "type": "tab",
        "label": "DHT.MCS",
        "disabled": false,
        "info": "Node-Red_Check Point3\n修改 DataChannel, 由 Node-Red 讀取溫濕度感應器之數值"
    },
    {
        "id": "2ea76fec.f0df5",
        "type": "inject",
        "z": "dc37123c.1c50f",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "bd69ea2f.18a188"
            ]
        ]
    },
    {
        "id": "bd69ea2f.18a188",
        "type": "function",
        "z": "dc37123c.1c50f",
        "name": "Payload",
        "func": "msg.headers={\n    deviceKey: \"zB80IH8PthNxVFRA\"\n    };\n\nmsg.payload= \"Temperature,,25.2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 280,
        "wires": [
            [
                "56fb52e.3d828ac"
            ]
        ]
    },
    {
        "id": "56fb52e.3d828ac",
        "type": "http request",
        "z": "dc37123c.1c50f",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://api.mediatek.com/mcs/v2/devices/DIr00Kmw/datapoints.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "1e39094d.5fdb87",
                "612fd0f5.9192a"
            ]
        ]
    },
    {
        "id": "1e39094d.5fdb87",
        "type": "debug",
        "z": "dc37123c.1c50f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "612fd0f5.9192a",
        "type": "http response",
        "z": "dc37123c.1c50f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 260,
        "wires": []
    }
]