Flow5.json
[
    {
        "id": "adc9e558.731de8",
        "type": "tab",
        "label": "Webserver3",
        "disabled": false,
        "info": "Node-Red-Set GPIO_Check Point2\r\n設定 LED 狀態\r\nhttp://192.168.43.113:1880/setgpio5\r\nhttp://192.168.43.113:1880/clear5"
    },
    {
        "id": "85a728b8.a94e68",
        "type": "http in",
        "z": "adc9e558.731de8",
        "name": "Set GPIO5",
        "url": "/setgpio5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "38ecc2e5.d625ee",
                "511c4096.6a503"
            ]
        ]
    },
    {
        "id": "9f5b1cdd.6bd36",
        "type": "http response",
        "z": "adc9e558.731de8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 590,
        "y": 180,
        "wires": []
    },
    {
        "id": "13b37813.8aced8",
        "type": "debug",
        "z": "adc9e558.731de8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "38ecc2e5.d625ee",
        "type": "function",
        "z": "adc9e558.731de8",
        "name": "Set to 1",
        "func": "msg.payload = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "23e0063d.2d3e9a"
            ]
        ]
    },
    {
        "id": "23e0063d.2d3e9a",
        "type": "rpi-gpio out",
        "z": "adc9e558.731de8",
        "name": "",
        "pin": "29",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "511c4096.6a503",
        "type": "function",
        "z": "adc9e558.731de8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "9f5b1cdd.6bd36",
                "13b37813.8aced8"
            ]
        ]
    },
    {
        "id": "334254ab.b1facc",
        "type": "http in",
        "z": "adc9e558.731de8",
        "name": "Set GPIO5",
        "url": "/clear5",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "95dbb936.88c068",
                "8a9220f4.4b18b"
            ]
        ]
    },
    {
        "id": "95dbb936.88c068",
        "type": "function",
        "z": "adc9e558.731de8",
        "name": "Clear to 0",
        "func": "msg.payload = 0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "23e0063d.2d3e9a"
            ]
        ]
    },
    {
        "id": "8a9220f4.4b18b",
        "type": "function",
        "z": "adc9e558.731de8",
        "name": "Return Status",
        "func": "msg.payload = \"GPIO5 set to LOW\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "9f5b1cdd.6bd36",
                "13b37813.8aced8"
            ]
        ]
    }
]